body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

body:has(#one:hover) .main__go {
  background-color: #ffffff;
}

body:has(#in:checked) #two {
  visibility: visible;
  background-color: aquamarine;
  animation-name: rotate;
  animation-duration: 1s;
}

body:has(#one:hover) #post {
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.9529411765);
}

.main {
  width: 100%;
  height: 100vh;
}
.main__go {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.5s ease-out;
}
.main__go-button {
  padding: 5px 30px;
  background-color: rgb(255, 255, 255);
  color: #00ff1a;
  text-align: center;
  border: none;
  border-radius: 50%;
  transition: 0.5s linear;
}
.main__go-button:hover {
  background-color: #000000;
  color: #fff;
  border: 30px solid white;
}
.main__go-button-checkbox {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: aqua;
  color: aqua;
  background: #000;
  border: none;
}
.main__go-button-paragraph {
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.main__action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: aquamarine;
  background-image: url("https://images.unsplash.com/photo-1599912027765-a69c78bfa3aa?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  font-size: 50px;
  visibility: hidden;
}
.main__action-nav {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
.main__action-nav-one {
  top: 50px;
  left: 50px;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  transition: 1s;
  text-decoration: none;
}
.main__action-nav-one:hover {
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1578148190071-173c57e882bd?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
  color: transparent;
  border-radius: 0 0 20px 20px;
}
.main__action-nav-two {
  top: 50px;
  left: 50px;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  transition: 1s;
  text-decoration: none;
}
.main__action-nav-two:hover {
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1596321687344-547d323f094a?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
  color: transparent;
  border-radius: 0 0 20px 20px;
}
.main__action-nav-three {
  top: 50px;
  left: 50px;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  transition: 1s;
  text-decoration: none;
}
.main__action-nav-three:hover {
  width: 100%;
  height: 50vh;
  background-image: url("https://www.mbusa.com/content/dam/mb-nafta/us/myco/my21/bodystyles/suv/XXL-BODYSTYLELANDING-SUV-GLC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  color: transparent;
  border-radius: 0 0 20px 20px;
}
.main__action-nav-four {
  top: 50px;
  left: 50px;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  transition: 1s;
  text-decoration: none;
}
.main__action-nav-four:hover {
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1702543180823-9722d8f76cc3?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: transparent;
  border-radius: 0 0 20px 20px;
}
.main__action-nav-five {
  top: 50px;
  left: 50px;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  transition: 1s;
  text-decoration: none;
}
.main__action-nav-five:hover {
  width: 100%;
  height: 50vh;
  background-image: url("https://www.mbusa.com/content/dam/mb-nafta/us/myco/my23/c/cabriolet/class-page/series/2023-C-CABRIOLET-HERO-DR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 77%;
  color: transparent;
  border-radius: 0 0 20px 20px;
}
.main__action-post {
  text-align: center;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.3882352941);
  margin: 50px auto;
  padding: 5px 20px;
  border-radius: 15px;
  transition: 0.5s;
}
.main__action-post-head {
  text-align: center;
  padding: 0;
  margin: 20px auto 5px;
  font-size: 55px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.main__action-post-paragraph {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

@keyframes rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */