body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: "Montserrat", sans-serif;
}

body:has(#in:checked) #two {
    visibility: visible;
    background-color: aquamarine;
    animation-name: go;
    animation-duration: 1s;
  }

main {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


    .button {
        padding: 5px 30px;
        background-color: rgb(255, 255, 255);
        color: #00ff1a;
        text-align: center;
        border: none;
        border-radius: 50%;
        transition: .5s linear;

        &:hover {
            background-color: #000000;
            color: #fff;
            border: 30px solid #ffff;
        }
        

        #in {
            position: absolute;
            width: 0px;
            height: 0px;
            background-color: aqua;
            color: aqua;
            background: #000;
            border: none;
        }

        .paragraph {
            font-size: 30px;
            font-weight: 700;
            font-family:Arial, Helvetica, sans-serif;
        }



    }


    .action {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: aquamarine;
        background-image: url('https://images.unsplash.com/photo-1599912027765-a69c78bfa3aa?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-repeat: no-repeat;
        background-position: 0% 60%;
        background-size: cover;
        // display: flex;


        font-size: 50px;
        visibility: hidden;

        // header blocks ------------------------
        &__nav {
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;


            &-head_one {
                top: 50px;
                left: 50px;
                width: 20%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                font-size: 25px;
                color: #ffffff;
                background-color: #000000;
                transition: 1s;
    
                &:hover {
                    width: 100%;
                    height: 90vh;
                    background-image: url('https://images.unsplash.com/photo-1612810806563-4cb8265db55f?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    color: transparent;
                }   
            }
    
            &-head_two {
                top: 50px;
                left: 50px;
                width: 20%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                font-size: 25px;
                color: #ffffff;
                background-color: #000000;
                transition: 1s;
    
                &:hover {
                    width: 100%;
                    height: 90vh;
                    background-image: url('https://images.unsplash.com/photo-1612810806563-4cb8265db55f?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    color: transparent;
                }
            }
    
            &-head_three {
                top: 50px;
                left: 50px;
                width: 20%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                font-size: 25px;
                color: #ffffff;
                background-color: #000000;
                transition: 1s;
    
                &:hover {
                    width: 100%;
                    height: 90vh;
                    background-image: url('https://images.unsplash.com/photo-1612810806563-4cb8265db55f?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    color: transparent;
                }
            }
    
            &-head_four {
                top: 50px;
                left: 50px;
                width: 20%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                font-size: 25px;
                color: #ffffff;
                background-color: #000000;
                transition: 1s;
    
                &:hover {
                    width: 100%;
                    height: 90vh;
                    background-image: url('https://images.unsplash.com/photo-1612810806563-4cb8265db55f?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    color: transparent;
                }
            }
    
            &-head_five {
                top: 50px;
                left: 50px;
                width: 20%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 40px;
                font-size: 25px;
                color: #ffffff;
                background-color: #000000;
                transition: 1s;
    
                &:hover {
                    width: 100%;
                    height: 90vh;
                    background-image: url('https://images.unsplash.com/photo-1612810806563-4cb8265db55f?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    color: transparent;
                }
            }
        }

        .post {
            text-align: center;
            width: 85%;
            background-color: #00000063;
            margin: 8% auto;
            padding: 15px 0;
            border-radius: 15px;

            h2 {
                text-align: center;
                font-size: 55px;
                font-weight: 600;
                color: #fff;
            }

            p {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                color: #fff;
            }
        }
        
    }
}



@keyframes go {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}